<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home | 2nd ERP Contest</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">ERP Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" style="font-size:18px" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('advisors') }}"><b>Advisors</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('rules') }}"><b>Rules</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('data') }}"><b>Data</b></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <b>Resources</b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('resource') }}"><b>Demos</b></a>
              <a class="dropdown-item" href="{{ url_for('news') }}"><b>News Items</b></a>
              <a class="dropdown-item" href="{{ url_for('literature') }}"><b>Literature</b></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://erp-contest-2.herokuapp.com/"><b>2019 ERP Contest</b></a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('teams') }}"><b>Teams</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href=""><b>Leaderboard</b></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" style="background-image: url('/static/ucsb_images/stock2_1.jpg')">
    <div class="container">
      <div class="intro-text">
        <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
        <div class="intro-heading text-uppercase">S&P 500 Prediction Contest</div>
        <!-- <a class="btn btn-primary btn-xl" href="https://erp-contest-2.herokuapp.com/">More about 2019 ERP Contest</a> -->
      </div>
    </div>
  </header>

  <!-- Annoucement -->
  <section class="page-section" id="annoucement">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Annoucements</h2>
          <h3 class="section-subheading text-muted"> <a href="https://twitter.com/ContestErp?ref_src=twsrc%5Etfw"
              class="twitter-follow-button" data-size="large" data-show-count="false" align="center">Follow
              @ContestErp</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </h3>
        </div>
      </div>
      <font size="4">
        <ul>
          <li>
           Download the <a href="/static/checker.zip">
              <font color=#0000EE>checker.zip</font></a> to test your code on the server. It contains checker.py to help you check the format of your output.txt file and checker.sh that run checker.py file. If you're a window user, click <a href="/static/Connecting to server via SSH.pdf ">
                  <font color=#0000EE>here </font></a>to find out how to ssh and copy file from local to server. <b>Following is
                  video tutorial about how to upload the files to the server, and run and test your code. </b> <a href="https://docs.google.com/document/d/19OWRHY51IAqEos8-3MEQivW1QbA1mo8e27NIHlCqFl0/edit?usp=sharing">
                    <font color=#0000EE>Here</font></a> is the text summary of the video. 
          </li>
          <br>
          <style>.center {
              margin-left: auto;
              margin-right: auto;
              display: block
          }</style>
        <iframe class="center" width="560" height="315" src="https://www.youtube.com/embed/raGF9fL6oss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br>
          <br>

          <li>
            The registration deadline is extended to Feb 28th. You can still add people to their team so forward this event to your friends. For teams that updated their team information, please resubmit the <a href="https://forms.gle/9EMbwTVth43uq8856">
                <font color=#0000EE>registration form</font></a>.
          </li>

          <br>
          <li>Qualification Phase starts on January 10 and ends on March 6th. To pass Qualification Phase, participants should submit their best prediction model (i.e., data sets and codes) for out-of-sample tests by March 2nd. <b><font color="red">The rules to pass qualification phase are <a href="{{ url_for('qualificationrule') }}">
            <font color=#0000EE>here</font></font>
          </a>.</b> Official certificates will be awarded for successful completion of the Qualification Phase.</li>
          <!-- <li>
            If you are still looking for teammates, please check the <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSeFK3XE84TvR5sPRe-0OD1GyrX7upvtY4aYnVFYCRHmErjXnw/viewform">
              <font color=#0000EE>teammate finder sheet</font>
            </a> and reach out to people. Contact erpcontest@gmail.com to update your team information.
          </li> -->
          <br>
          <li>
            The Office Hours with Hull Tactical PhD Fellow, Youhong Lee, are Friday 10-12pm in the cubicle SH 5432 X.
            The <a href="{{ url_for('advisors') }}">
                <font color=#0000EE>Advisors</font>
              </a> page is updated. Feel free to contact them for instructions about the contest.
          </li>
          <br>

          <li>
            Dataset is now available. Click to download<a href="/static/ucsbdata.csv">
              <font color=#0000EE>datasheet</font>
            </a> and <a href="/static/ucsb_glossary.pdf">
              <font color=#0000EE>glossary</font>
            </a>.
          </li>
          <br>
          <li>Each team can participate in <b>either or both categories</b>, <i>Best Prediction and Most Creative</i>.
            The
            submission deadlines for both categories will be on <b>March 6th</b>. <font color="red"><b>Click<a href="{{ url_for('liverule') }}">
              <font color=#0000EE>here</font>
            </a> to find out more information about rules for live phase.</b></font>
          </li>
          <br>
          <li>
            The kickoff event was held Jan 10th, 2pm at Buchanan Hall 1920. Click to download
            <a href="/static/erpcontest.pdf">
              <font color=#0000EE>ERP Contest Presentation</font>
            </a>
            and <a href="/static/htaa_presentation.pdf">
              <font color=#0000EE>Hull Tactical Presentation</font>
            </a>.
          </li>
        </ul>
      </font>

      
      <!-- <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">E-Commerce</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
            quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
            quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
            quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div> -->
    </div>
  </section>


  <!-- Footer -->
  <footer class="bg-light footer">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a href="http://www.hulltactical.com/" onclick="target='_blank'">
            <img src="/static/ucsb_images/logo_hull.png" width="120" alt="Hull tactical logo"
              style="display: block; margin: 0 auto; margin-top: 20">
          </a>
          <br>
          <a href="http://www.ucsb.edu/" onclick="target='_blank'">
            <img src="/static/ucsb_images/ucsb_logo.png" width="120" alt="UCSB circle logo"
              style="display: block; margin: 0 auto; margin-top: 20">
          </a>
          <br>
          <p class="copyright text-muted">Copyright &copy; UCSB Department of Statistics 2020</p>

        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/agency.min.js"></script>

</body>

</html>
