<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Demos | 2nd ERP Contest</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <style>
        .hot-container {
            min-height: 60px;
            margin-top: 20px;
            width: 100%;
            text-align: center;
        }

        a.btn.btn-blue {
            background-color: #699DB6;
            border-color: rgba(0, 0, 0, 0.3);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
            color: #FFF;
            width: 30%;
        }

        a.btn.btn-blue:active {
            background-color: #4F87A2;
            border-color: rgba(0, 0, 0, 0.5);
        }

        a.btn.btn-blue:hover {
            background-color: #3C677B;
            border-color: rgba(0, 0, 0, 0.9);
        }
    </style>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ url_for('home') }}">ERP Contest</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" style="font-size:18px" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('advisors') }}"><b>Advisors</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rules') }}"><b>Rules</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('data') }}"><b>Data</b></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Resources</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('resource') }}"><b>Demos</b></a>
                            <a class="dropdown-item" href="{{ url_for('news') }}"><b>News Items</b></a>
                            <a class="dropdown-item" href="{{ url_for('literature') }}"><b>Literature</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://erp-contest-2.herokuapp.com/"><b>2019 ERP
                                    Contest</b></a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('teams') }}"><b>Teams</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href=""><b>Leaderboard</b></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead" style="background-image:url('/static/img/rule2.png');">
        <div class="overlay">
            <div class="container">
                <div class="intro-text">
                    <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
                    <div class="intro-heading text-uppercase">DEMOS</div>
                    <span class="reach out to them for more info"></span>
                    <!-- <a class="btn btn-primary btn-xl" href="https://erp-contest-2.herokuapp.com/">More about 2019 ERP Contest</a> -->
                </div>
            </div>
        </div>
    </header>

    <br>
    <!-- Team -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="hot-container">
                    <a href="{{ url_for('demo1') }}" class="btn btn-blue">Demo One</a>
                </div>
                <p>This <b><a href="{{ url_for('demo1') }}">
                            <font color=#0000EE>demo</font>
                        </a></b>describes how to read an external data file and then make a couple of linear regression
                    models for prediction in R. In data analysis, a data set from random experiments is to be prepared,
                    which is usually of the form of external source files. Loading the data set on your workspace, a
                    model that explains data generating process (that can be considered close to the truth) is
                    suggested. Since the purpose of our model is forecasting, finally, a best model is to be used to
                    create future values.</p>
                <br>
    
                <div class="hot-container">
                    <a href="{{ url_for('demo2') }}" class="btn btn-blue">Demo Two</a>
                </div>
                <p>This <b><a href="{{ url_for('demo2') }}">
                            <font color=#0000EE>demo</font>
                        </a></b>is the new version of the min vol demo. major change is adding plots that compare the daily and cumulative returns of S&P 500 and min vol ETF, and discussing low vol anomaly. </p>
                <br>
                <br>
                *Download the <a href="/static/checker.zip">
                    <font color=#0000EE>checker.zip</font>
                </a> to test your code on the server. The zip file should contain checker.py and checker.sh. Here's the
                <a href="{{ url_for('qualificationrule') }}">
                    <font color=#0000EE>video </font>
                </a>instruction in MacOS. If you're a window user, click <a
                    href="/static/Connecting to server via SSH.pdf ">
                    <font color=#0000EE>here </font>
                </a>to find out how to ssh and copy file from local to server.

            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <hr>

    <!-- Footer -->
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <a href="http://www.hulltactical.com/" onclick="target='_blank'">
                        <img src="/static/ucsb_images/logo_hull.png" width="120" alt="Hull tactical logo"
                            style="display: block; margin: 0 auto; margin-top: 20">
                    </a>
                    <br>
                    <a href="http://www.ucsb.edu/" onclick="target='_blank'">
                        <img src="/static/ucsb_images/ucsb_logo.png" width="120" alt="UCSB circle logo"
                            style="display: block; margin: 0 auto; margin-top: 20">
                    </a>
                    <br>
                    <p class="copyright text-muted">Copyright &copy; UCSB Department of Statistics 2020</p>

                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/agency.min.js"></script>

</body>

</html>