<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rules | 2nd ERP Contest</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="https://ucsb-erp-contest.herokuapp.com/">ERP Contest</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" style="font-size:18px" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('advisors') }}"><b>Advisors</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rules') }}"><b>Rules</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('data') }}"><b>Data</b></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Resources</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('resource') }}"><b>Demos</b></a>
                            <a class="dropdown-item" href="#"><b>News Items</b></a>
                            <a class="dropdown-item" href="#"><b>Literatures</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://erp-contest-2.herokuapp.com/"><b>2019 ERP
                                    Contest</b></a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('teams') }}"><b>Teams</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href=""><b>Leaderboard</b></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead" style="background-image:url('/static/img/rule.png');">
        <div class="overlay">
        <div class="container">
            <div class="intro-text" >
                <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
                <div class="intro-heading text-uppercase">RULES</div>
                <span class="reach out to them for more info"></span>
                <!-- <a class="btn btn-primary btn-xl" href="https://erp-contest-2.herokuapp.com/">More about 2019 ERP Contest</a> -->
            </div>
        </div>
    </div>
    </header>
    <br>
    <br>
    <br>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-10 mx-auto">
<!-- 
        <font size="4">
        <b>The rules for the <i>Best Prediction</i> category are as 
        follows.</b>
        </font>
        <br>
        <br>

        <font size="3">
        <ul>
        <li>
        The problem is to predict S&P500 daily returns and implement a market timing strategy that buys and sells the index automatically based on the prediction model.
        </li>
        <li>
        The target variable to be predicted is “R” which is 1 (trading) day forward ERP of the S&P500 adjusted for dividends.
        </li>
        <li>
        Participants can use any variables in the data file provided by Hull Tactical as predictors as well as are welcome to invent new innovative variables.
        </li>
        <li>
        Participants must pass Qualification Phase to move to Live Competition.
        </li>
        <li>
          Qualification Phase starts on January 10 and ends on March 2nd. Official certificates will be awarded for successful completion of the Qualification Phase.
        </li>
        <li> To pass Qualification Phase, participants should submit their best prediction model (i.e., data sets and codes) for out-of-sample tests by March 2nd.
        </li>
        <li>
            Live Competition will begin in early March and end in May.
            </li>
            <li>
                Each team starts with (vertual) $10,000.
            </li>
            <li>
                Participants should determine their position before each trading day begins. Live scores will be updated on Leaderboard at the end of each trading day.
            </li>
            <li> To pass Qualification Phase, participants should submit their best prediction model (i.e., data sets and codes) for out-of-sample tests by March 2nd.
            </li>
        
        </ul>
        </font>
        <hr>

        <br>
        <font size='4'>
        <b>The rules for the <i>Most Creative</i> category are as 
        follows.</b>
        </font>
        <br>
        <br>
        <font size='3'>
        <ul>
        <li>
        The <i>Most Creative</i> category will expand the judgement
        criteria to topics other than just prediction. This could be
        an explanation of some market phenomena, a novel trading
        strategy or an insightful analysis. 
        </li>
        <li>
          Some example entries include interesting visualization
        (graphs, animations, etc), discovering new nonlinear
        relationships in the data, proposing new data transformations,
        testing a new variable for predictive power, 
        explaining a market anomaly pertaining to stock returns, etc.
        </li>
        <li>
        The submitted entries in the
        form of a typewritten report will be judged by a panel of
        experts consisting of UCSB faculty and Hull Tactical 
        professionals. 
        </li>
        </ul> -->
        
          <div id="rules-in-general" class="section level3">
          <font size="6">
          <b><p style="text-align:center">Rules in general</p></b>
          </font>
          <ul>
          <li>Participants must be enrolled in undergraduate or master’s programs at UCSB.</li>
          <li>At most 4 students per team are allowed.</li>
          <li>At most 1 master’s student per team is allowed.</li>
          <li>Team registration deadline will be <strong>January 31st</strong>.</li>
          <li>Each team can participate in either or both categories, <em>Best Prediction</em> and <em>Most Creative</em>. <br><br></li>
          </ul>
          </div>
          <div id="rules-for-the-best-prediction-category" class="section level3">
          <font size="6">
          <b><p style="text-align:center">Rules for the <em>Best Prediction</em> category</p></b>
          </font>
          <ul>
          <li>The problem is to predict S&amp;P500 daily returns and implement a market timing strategy that buys and sells the index automatically based on the prediction model.</li>
          <li>The target variable to be predicted is “<strong>R</strong>” which is 1 (trading) day forward ERP of the S&amp;P500 adjusted for dividends.</li>
          <li>Participants can use any variables in the data file provided by Hull Tactical as predictors as well as are welcome to invent new innovative variables.</li>
          <li>Participants must pass Qualification Phase to move to Live Competition.</li>
          <li>Qualification Phase starts on January 10 and ends on March 2nd. Official certificates will be awarded for successful completion of the Qualification Phase.</li>
          <li>To pass Qualification Phase, participants should submit their best prediction model (i.e., data sets and codes) for out-of-sample tests by March 2nd.</li>
          <li>Live Competition will begin in early March and end in May.</li>
          <li>Each team starts with (virtual) $10,000.</li>
          <li>Participants should determine their position before each trading day begins. Live scores will be updated on Leaderboard at the end of each trading day.</li>
          <li>The team with a highest balance at the last trading day will be the winner of <em>Best Prediction</em> category.</li>
          <li>No short positions (borrowings) are allowed.</li>
          <li>Prediction models will be made public under a free software license. <br><br></li>
          </ul>
          </div>
          <div id="rules-for-the-most-creative-category" class="section level3">
          <font size="6">
          <b><p style="text-align:center">Rules for the <em>Most Creative</em> category</p></b>
          </font>
          <ul>
          <li>The problem is to come up with a novel analysis of the market timing problem.</li>
          <li>Examples could include an explanation of some market phenomena, an insightful analysis of a strategy, an interesting visualization, discovering nonlinear relationships in the variables, etc.</li>
          <li>A typewritten proposal must be submitted by March 2nd.</li>
          <li>Qualifying teams will be granted directed research course units and should finish their final typewritten reports by May.</li>
          <li>Submitted reports will be carefully read and judged by a panel of experts consisting of UCSB faculty and Hull Tactical professionals.</li>
          </ul>

      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>



    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <a href="http://www.hulltactical.com/" onclick="target='_blank'">
                        <img src="/static/ucsb_images/logo_hull.png" width="120" alt="Hull tactical logo"
                            style="display: block; margin: 0 auto; margin-top: 20">
                    </a>
                    <br>
                    <a href="http://www.ucsb.edu/" onclick="target='_blank'">
                        <img src="/static/ucsb_images/ucsb_logo.png" width="120" alt="UCSB circle logo"
                            style="display: block; margin: 0 auto; margin-top: 20">
                    </a>
                    <br>
                    <p class="copyright text-muted">Copyright &copy; UCSB Department of Statistics 2020</p>

                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/agency.min.js"></script>

</body>

</html>