<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teams | 2nd ERP Contest</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('home') }}">ERP Contest</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" style="font-size:18px" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('advisors') }}"><b>Advisors</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('rules') }}"><b>Rules</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data') }}"><b>Data</b></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Resources</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('resource') }}"><b>Demos</b></a>
                        <a class="dropdown-item" href="{{ url_for('news') }}"><b>News Items</b></a>
                        <a class="dropdown-item" href="{{ url_for('literature') }}"><b>Literature</b></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://erp-contest-2.herokuapp.com/"><b>2019 ERP
                                Contest</b></a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('teams') }}"><b>Leaderboard</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead" style="background-image:url('/static/img/teams.jpg');">
  <div class="overlay">
  <div class="container">
      <div class="intro-text" >
          <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
          <div class="intro-heading text-uppercase">Leaderboard</div>
          <span class="subheading">Updated 5pm every day from April 15th to June 5th</span>
      </div>
  </div>
</div>
</header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">

        <br>
        <br>
        <!-- Phase 1 -->
        <div id="wrapper" align="center" style="padding-left: 100px;">
          <font size="3">
            <main role="main">
              <table class="table">
                <thead>
                  <th scope="col">Ranking</th>
                  <th scope="col">Team Name</th>
                  <th scope="col">Score</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Dummy Variables</td>
                    <td> 11,202.65 </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>DY</td>
                    <td> 11,092.36 </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Common knowledge</td>
                    <td> 11,060.00 </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>IAC</td>
                    <td> 10,877.02 </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>bells in forts</td>
                    <td> 10,609.73 </td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Chow Mein</td>
                    <td> 10,547.58 </td>
                  </tr>  
                  <tr>
                    <th scope="row">7</th>
                    <td>SB&Prediction500</td>
                    <td> 10,512.66 </td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>NO.1</td>
                    <td> 10,483.92 </td>
                  </tr>

                  <tr>
                    <th scope="row">9</th>
                    <td>Lone Warrior</td>
                    <td> 10,293.84 </td>
                  </tr>
                   
                  <tr>
                    <th scope="row">10</th>
                    <td>HelloWorld</td>
                    <td> 10,000 </td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>KMG</td>
                    <td> 10,000 </td>
                  </tr>
                  <tr>
                      <th scope="row">10</th>
                      <td>Arbitrage</td>
                      <td> 10,000 </td>
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td>Pesto</td>
                      <td> 10,000 </td>
                    </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Sea Otters</td>
                        <td> 10,000 </td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Team Solo Mid</td>
                        <td> 10,000 </td>
                      </tr>
                      <tr>          
                        <th scope="row">10</th>
                        <td>Wolves of IV</td>
                        <td> 10,000 </td>
                      </tr>
                </tbody>
              </table>
            </main>
          </font>
        </div>
      </div>
    </div>
    <hr>
  </div>


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <a href="http://www.hulltactical.com/" onclick="target='_blank'">
                        <img src="/static/ucsb_images/logo_hull.png" width="120" alt="Hull tactical logo"
                            style="display: block; margin: 0 auto; margin-top: 20">
                    </a>
                    <br>
                    <a href="http://www.ucsb.edu/" onclick="target='_blank'">
                        <img src="/static/ucsb_images/ucsb_logo.png" width="120" alt="UCSB circle logo"
                            style="display: block; margin: 0 auto; margin-top: 20">
                    </a>
                    <br>
                    <p class="copyright text-muted">Copyright &copy; UCSB Department of Statistics 2020</p>

                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/agency.min.js"></script>

</body>

</html>